<footer id="footer" class="footer-main-block">
    <div class="container">
        <div class="footer-block text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <div class="footer-logo">
                        <a href="" title="logo"><img src="../../../assets/imgs/footer_logo.png" alt="logo"
                                style="width: 150px;" class="img-fluid"></a>
                    </div>
                    <div class="mobile-btn">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-4 py-4">
                    <div class="widget"><b>Important Links</b></div>
                    <div class="footer-link">
                        <ul>
                            <li><a href="" title="Become an instructor">Become An
                                    Instructor</a></li>

                            <li><a href="" title="About Us">About us</a></li>

                            <li><a href="" title="Contact Us">Contact us</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-4 py-4">
                    <div class="widget"><b>More Info</b></div>
                    <div class="footer-link">
                        <ul>
                            <li><a href="" title="Careers">Careers</a></li>

                            <li><a href="" title="Blog">Blog</a></li>

                            <li><a href="" title="Help">Help &amp; Support</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-4 py-4">
                    <div class="widget"><b>Auth</b></div>
                    <div class="footer-link">
                        <ul>
                            <li routerLink="/login">
                                <span class="pointer">Sign In</span>
                            </li>
                            <li routerLink="/register">
                                <span class="pointer">Register</span>
                            </li>
                            <li (click)="LogOut()">
                                <span class="pointer">Log out</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 py-4">

                    <div class="footer-dropdown">
                        <mat-form-field appearance="outline" class="w-75">
                            <mat-label class="text-white"><i class="fa fa-globe rgt-15"></i> <span
                                    class="mx-2">En</span></mat-label>
                            <mat-select>
                                <mat-option>
                                    Arabic
                                </mat-option>
                                <mat-option>
                                    English
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="background-color: #fff;">
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo-footer">
                        <ul>
                            <li>Copyright © 2020 eClass.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright-social">
                        <ul class="d-flex justify-content-center">
                            <li class="mx-3">
                                <a href="" title="Terms">Terms Condition</a>
                            </li>
                            <li class="mx-3">
                                <a href="" title="Policy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>