<section id="business-home" class="business-home-main-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="inside-box col-lg-8 col-md-6 mat-elevation-z8">
                <div class="content-box">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6">
                            <img src="../../../assets/imgs/back2.jpg" class="mat-elevation-z8" alt="">
                        </div>
                        <div class="col-lg-8  col-md-6 pt-sm-3">

                            <h6>{{Category?.name}} </h6>
                            <small class="text-danger">{{Category?.created_at | date}}</small>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit ipsam
                                accusantium vitae aut, laboriosam at provident voluptates commodi consequuntur.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-topic-list title="Topics" [Topics]="Topics" [dataSource]="dataSource" [Categories]="Categories" ></app-topic-list> -->